@import "utilities";
@import url(https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic);

$blue: #1cb0f6;

body{
    font-family: 'Lato', sans-serif;
}

section{
    h5{
        line-height: 1.2;
        letter-spacing: 0.3px;
    }
}

.px-6{
    padding-left: 6rem;
    padding-right: 6rem;
}

.text-blue{
    color: $blue;
}

.bg-blue{
    background: $blue;
}

.ribbon{
    background: $blue;
    color: #fff;
    display: inline-block;
    font-weight: 500;
    margin: 0px -10px 40px -125px;
    padding: 15px 50px 15px 125px;
    position: relative;


    &::before, &::after{
        content: '';
        position: absolute;
        height: 0;
        width: 0;
    }
    &::before{
        border-left: 30px solid transparent;
        border-top: 30px solid #0883be;
        left: -0.5px;
        top: 58.5px;
    }
    &::after{
        border-bottom: 29px solid transparent;
        border-right: 15px solid #fff;
        border-top: 29px solid transparent;
        right: 0;
        top: 0;
    }
}


@media only screen and (max-width:775px){
    #Cl, #HR, #Co, #Of, #Sa, #In{
        padding: 2rem 2rem;
        width: 85% !important;
    }
    .ribbon{
        font-size: 18px;
        margin: 0 -20px 40px -68px;
        padding: 15px 50px 15px 68px;
        &::before{
            border-left: 36px solid transparent;
            border-top: 30px solid #0883be;
            left: 0;
            top: 51px;
        }
        &::after{
            border-bottom: 25.5px solid transparent;
            border-right: 15px solid #fff;
            border-top: 25.5px solid transparent;
            right: 0;
            top: 0;
        }
    }

}

